.titulo{
    font-size: 50px;
    color: #863636;
    text-align: center;
}
header{
    background-color: #863636;
    border-radius: 15px;
    height: 150px;
}
body{
    background-image: url(imagens/bg.jpg);
}
.bg2{
    background-color: #fada96;
    height: 90px;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:1000;
    text-shadow: #0000003d 3px 3px 3px;
}
.hyperlinks{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #863636;
    text-shadow: #000000bb 3px 3px 5px;
    list-style-type: none;
    color: inherit;
    text-align: center;
    margin: 10px;
}
.hyperlinks a{
    padding: 10px;
    color: rgb(255, 255, 255);
}
.iconeCarrinho{
    position: absolute;
    width: 40px;
    margin-left: 300px;
}
body h1{
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:1000;
    font-size: 60px;
    color: #863636;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
    text-shadow: #0000003d 3px 3px 3px;
}
.cachorro {
    width: 600px;
    margin: 0 auto;
    display: block;
}

.bgbody{
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff2f;
    border-radius: 10px;
    height: 100%;
    width: 95%;
    padding: 20px;
}

.sobreNos{
    width: 50%;
    height: auto;
    background-color:#fada96;
    border: #ffffff2f;
    border-style: solid; border-color: #d6d6d6; 
    border-width: 1px;
    box-shadow: #0000002f 2px 2px 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.servicos{
    width: 50%;
    height: auto;
    background-color:#fada96;
    border: #ffffff2f;
    border-style: solid; border-color: #d6d6d6; 
    border-width: 1px;
    box-shadow: #0000002f 2px 2px 10px;
    margin: 0 auto;
    border-radius: 10px;
}


body h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:10;
    font-size: 20px;
    color: #863636;
    text-shadow: #0000003d 3px 3px 3px;
}

body h3{
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 20px;
    color: #863636;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
    text-shadow: #0000003d 1px 1px 3px;
}
body h4{
    position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size: 20px;
    color: #863636;
    text-align: center;
    margin-left: 50px;
    margin-right: 70px;
}


footer{
    background-color: #fada96;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    border: #ffffff2f;
    border-style: solid; border-color: #d6d6d6; 
    border-width: 1px;
    box-shadow: #0000002f 5px 5px 10px;
    margin-top: 10px;
    line-height: 2px;
}